body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(215, 215, 215);
    color: rgb(0, 0, 0);
    margin: 0;
}

header {
display: flex;
align-items: center;
margin: 10px;
    padding: 10x;
    border: 10px solid rgb(235, 174, 61);
border-radius: 10px;
background-color: red;


 justify-content: center;
 
}

main h1 {
   background-color: red; 
   text-align: center;
   border-radius: 20px;
   border: 10px solid rgb(235, 174, 61) ;
   margin: 20px;
}
    



nav {
    display: flex;
    background-color: red;
     justify-content: space-around;
   border-radius: 9px;
   border: 6px solid rgb(235, 174, 61) ;
   margin: 20px;



    
}

.nav-link {
    text-decoration: none;
       color: black;
       font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}


p {
    font-size: 20px;
}

.info {
   display: flex;
   flex-wrap: wrap;
   padding: 20px;
}

article {
   background-color: red;
padding: 20px;
margin: 20px;
width: 400px;
height: 500px;
border: 10px solid rgb(235, 174, 61);
border-radius: 20px;


}

.article-but {
    text-decoration: none;
    color: white;
    background-color: rgb(235, 70, 61);
    border-radius: 3px;
    border: 4px solid rgb(235, 174, 61);
    padding-bottom:4px;
    margin-left: 155px;
    font-size: 20px;
    margin-top:20px;
   
}

footer {
display: flex;

}

footer a {
    
}

footer p {
}

.imgphono {
    background-color: red;
      border: 10px solid rgb(235, 174, 61);
      border-radius: 15px;
      margin: 10px;
}
